<%= JSON.stringify();   %>
<% include ./../../helpers/status %>
<% include ./../../helpers/filter-status %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/action %>
<% include ./../../helpers/formatTime %>
<% include ./../../helpers/sort %>
<% include ./../../helpers/deleteHTMLTag %>
<% 
    const collection = 'items'
    const linkPrefix = systemConfig.prefixAdmin +`/${collection}/`
%>
<h3><%- locals.flash %></h3>
<div class="alert alert-success" role="alert">
  <span class="close-btn">&times;</span> 
  Thay đổi Status thành công
</div>
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-info">
          <div class="panel-heading">
              Search & Filter
              <a href="<%= systemConfig.prefixAdmin %>/<%= collection %>">
              <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
              </a>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div id="changestatus" class="status-list col-sm-6 pl0">
                    <%- filterStatusHelper(statusFillters,collection,search) %>
                     
                  </div>
                  <div class="col-sm-6">
                      <form action="<%= systemConfig.prefixAdmin %>/<%= collection %>/status/<%= currentStatus %>" method="GET">
                          <div class="input-group">
                              <input type="text" class="form-control" name="search" placeholder="Search for..." value="<%=search%>">
                              <input type="hidden" value="all">
                              <span class="input-group-btn">
                              <button class="btn btn-info" type="submit">Search</button>
                              </span>
                              <span class="input-group-btn">
                              <button class="btn btn-success" type="button"><a href="<%= systemConfig.prefixAdmin %>/<%= collection %>/status/<%= currentStatus %>">Clear</a></button>
                              </span>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-12">
      <div class="panel panel-info">
          <div class="panel-heading">
              List <%= collection %>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                <%- actionHelper(collection,currentStatus)%>
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                         
                              <tr>
                                <th>
                                    <input type="checkbox" class="cbAll" />
                                 </th>
                                 <th>#</th>
                                 <%- sortHelper('Name', linkPrefix, 'name', sortType, sortField) %>
                                 <%- sortHelper('Status', linkPrefix, 'status', sortType, sortField) %>             
                                 <%- sortHelper('Ordering', linkPrefix, 'ordering', sortType, sortField) %>
                                  <th>Create</th>
                                  <th>Modify</th>
                                  <th>Content</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            
                            <% items.forEach((item,index)=>{ %>
                                <tr>
                                    <td><input type="checkbox" name="cid" value="<%=item.id%>" /></td>
                                    <td><%= index +1 %></td>
                                    <td><%= item.name %></td> 
                                    <td id="statushelperfunc" class="statushelperfunc" > <%- statusHelper(item.status,item.id,collection) %></td>
                                    <td><input type="number" value="<%= item.ordering %>" class="text-center ordering"></td>
                                        <%-formatTime(item.create.userName,item.createdAt,systemConfig.formatTime)%>                           
                                        <%-formatTime(item.modify.userName, item.updatedAt,systemConfig.formatTime)%>
                                        <td><%-deleteHTMLTagHelper(item.editorData) %></td>
                                    <td>
                                        <a href="<%= systemConfig.prefixAdmin %>/<%= collection %>/form/<%=item.id%>" type="button" class="btn btn-warning btn-sm">Edit</a>
                                        <a 
                                        href="<%=systemConfig.prefixAdmin %>/<%= collection %>/<%=currentStatus==='deleted'?'force':'delete'%>/<%=item.id%>" 
                                        type="button" 
                                        class="btn btn-danger btn-sm btn-<%=currentStatus==='deleted'?'force':'delete'%>">
                                            <%=currentStatus==='deleted'?'Force':'Delete'%>
                                        </a>
                                        <%-
                                        currentStatus==='deleted'?`
                                            <a 
                                            href="${systemConfig.prefixAdmin}/${collection}/delete/${item.id}" 
                                            type="button" 
                                            class="btn btn-danger btn-sm btn-delete">
                                                Restore
                                            </a>
                                        `:``%>
                                    </td>
                                </tr>
                            <% })%>    
                          </tbody>
                      </table>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <%- paginationHelper(pagination,collection,currentStatus,search)%>
</div>
